.card{
  position: relative;
  width: 100%;
  aspect-ratio: 1 ;
  
}
.card img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #fffbfe;
}
.card .front-face {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.card .back-face {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}


.flipped .front-face {
  transform: rotateY(0deg);
  transition: transform 0.5s;
  
}
.flipped .back-face {
  transform: rotateY(90deg);
  transition: transform 0s;
}
