.card{
  position: relative;
  width: 100%;
  aspect-ratio: 1 ;
  
}
.card img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #fffbfe;
}
.front-face {
  position: absolute;
  top: 0;
  left: 0;
}

.back-face {
  position: absolute;
  top: 0;
  left: 0;
}