.App {
  text-align: center;
  max-width: 860px;
  margin: 40px auto;
}



button{
  background: none;
  border: 2px solid rgb(222, 136, 172) ;
  padding:8px 8px ;
  border-radius:16px;
  color:rgb(255, 224, 252);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.15rem;
}
button:hover{
  background-color: rgb(0, 0, 0) ;
  border: none;
  cursor: pointer;
  color: rgb(123, 46, 123);
}